
<!-- <app-register></app-register>  -->
<!-- <app-interface-summary></app-interface-summary> -->
<!-- <app-dashboard></app-dashboard>
<app-canvascharts></app-canvascharts>   -->

<!-- <app-contacts></app-contacts>   -->
<!-- <app-editcells></app-editcells>

 

 <app-chunks></app-chunks> -->

 <!-- <app-bootstrapdialog></app-bootstrapdialog> -->
 <!-- <app-repports></app-repports> -->

 <!-- <app-dragdrop></app-dragdrop> -->



 <!-- <app-material></app-material>
 <app-pagination></app-pagination> -->

 <div class="container-fluid">
    <div class="row">
        <h4 class="app-heading">
            Shopping Cart Application
        </h4>
    </div>
    <br>
    <router-outlet></router-outlet>
</div>