<form [formGroup]="dashboardForm">
<div fxFlex="50">
    <div class="daybtn-controls">
        <mat-button-toggle-group formControlName="periodicWise" #singleGroup="matButtonToggleGroup"
        (change)="selectTab(singleGroup.value)">
        <mat-button-toggle mat-raised-button class="submitbutton" value="0"> Today </mat-button-toggle>
        <mat-button-toggle  mat-raised-button class="submitbutton" value="1"> 3 Days </mat-button-toggle>
        <mat-button-toggle  mat-raised-button class="submitbutton" value="2"> Week </mat-button-toggle>
        <mat-button-toggle  mat-raised-button class="submitbutton" value="3"> Month </mat-button-toggle>
      </mat-button-toggle-group>


      <div class="graph4 graphdiv">
        <mat-card>
            <div fxLayout="row" class="pad-all">
                <div class="chartheading">Module Wise Usage</div>
                <div fxFlex></div>
                <div class="graph-control-icons">
                  </div>
              </div>
          <mat-card-content>
              
            <canvas id="canvas" height="100" baseChart class="chart"
              [data]="moduleWiseData"
              [labels]="moduleChartLabels"
              [options]="globalpieChartOptions"
              chartType="pie"
              [legend]="true"></canvas>
              <div id="pielegend"></div>
           
          </mat-card-content>
        </mat-card>
      </div>
      </div>
      </div>  
      <!-- <a href="#" (click)="exportChartPNG($event)"> DOWNLOAD THIS</a> -->
      <button mat-raised-button  id="exportChartPNG" (click)="exportChartPNG($event)">ExportChartPNG</button>
      <button mat-raised-button  id="exportChartJPG" (click)="exportChartJPG()">ExportChartJPG</button>
    </form>

    <div id="download">
        <img #canvas>
        <a #downloadLink></a>
    </div>
    <!-- <div id="chartContainer" style="height: 275px; width: 100%;"></div>
  <button id="exportChart">Export Chart</button> -->

 